.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-bottom: 1px solid var(--aqua-dark);
    text-align:center;
}

.navbar--dark:hover {
    color: #c1c1d2;
}

.navbar-language {
    display: inline-block;
    color: var(--aqua);
}

.navbar-language select {
    background-color: transparent;
    color: var(--aqua);
    border: none;
    outline: none;
    padding: 5px 10px 5px 2px;
    border-radius: 5px;
}

.navbar-language option {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--dark);
    font-size: 1.1rem;
    padding: 10px;
}

.navbar-language option:hover {
    color: var(--dark);
    background-color: var(--aqua);
}

.navbar-toggler {
    border: none;
    border-radius: 5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url('../assets/svg/navbar-toggler-icon.svg');
}

.nav-logo {
    width: 200px;
}

.nav-item {
    text-align: center;
}

.nav-link {
    border-bottom: 4px solid transparent;
    max-width: 12.5rem;
    height: 100%;
    color: #f1f1f1;
}

.nav-link:hover {
    transition: 0.7s;
    color: var(--aqua);
}

.nav-link:focus {
    color: var(--aqua) !important;
}

.nav-link.active {
    /* border-bottom: 4px solid var(--aqua); */
    color: var(--aqua) !important;
}

.rotate-90-ccw {
    -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

@keyframes rotate-90-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}