.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-bottom: 1px solid var(--aqua-dark);
    text-align:center;
    z-index: 99;
}

.navbar--dark:hover {
    color: #c1c1d2;
}

.navbar-toggler {
    border: none;
    border-radius: 5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url('../assets/svg/navbar-toggler-icon.svg');
}

.nav-logo {
    width: 200px;
}

.nav-item {
    text-align: center;
}

.nav-link {
    border-bottom: 4px solid transparent;
    max-width: 12.5rem;
    height: 100%;
    color: #f1f1f1;
}

.nav-link:hover {
    transition: 0.7s;
    color: var(--aqua);
}

.nav-link:focus {
    color: var(--aqua) !important;
}

.nav-link.active {
    /* border-bottom: 4px solid var(--aqua); */
    color: var(--aqua) !important;
}