@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --aqua: #46ffd5;
  --aqua-light: #6bffff;
  --aqua-dark: #0fb4a4;
  --light: #EBEBF0;
  --dark: #13131A;
}

* {
  font-family: 'Kantumruy Pro', sans-serif;
}

*::selection {
  background-color: #46ffd580;
}

body::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

.bg-black{
  background-color: var(--dark) !important;
}

.bg-black-transparency {
  background-color: #13131A80;
}

.bg-white{
  background-color: var(--light) !important;
}

/* custom classes */
.light-gradient {
  transition: 0.5s;
  background-position: center;
  background-attachment: fixed;
  background-color: hsla(240, 14%, 93%, 1);
  background-image: radial-gradient(at 73% 96%, hsla(150, 78%, 91%, 1) 0px, transparent 50%), radial-gradient(at 17% 29%, hsla(160, 69%, 87%, 1) 0px, transparent 50%), radial-gradient(at 67% 4%, hsla(167, 0%, 100%, 1) 0px, transparent 50%), radial-gradient(at 52% 3%, hsla(158, 55%, 88%, 1) 0px, transparent 50%), radial-gradient(at 11% 97%, hsla(178, 63%, 86%, 0.95) 0px, transparent 50%), radial-gradient(at 85% 35%, hsla(164, 91%, 49%, 0.39) 0px, transparent 50%), radial-gradient(at 46% 96%, hsla(167, 100%, 49%, 0.31) 0px, transparent 50%);
}

.gradient-1{
  background: radial-gradient(50% 123.47% at 50% 50%, #000000 0%, #FFFFFF 100%), radial-gradient(100% 100% at 50% 100%, #E9FFD8 0%, #001356 100%), linear-gradient(238.72deg, #0066FF 0%, #00CD21 100%), radial-gradient(100% 188.01% at 76.14% 0%, #00CAF7 0%, #FF00C7 100%), linear-gradient(0deg, #00C2FF 0%, #FFC700 100%), radial-gradient(59.2% 100% at 50% 0%, #8000FF 0%, #0085FF 100%), radial-gradient(100% 148.07% at 0% 0%, #FC8800 0%, #00FF94 100%);
    background-blend-mode: overlay, multiply, hard-light, color-dodge, color-burn, color-burn, normal;
}

.gradient-2 {
background: linear-gradient(180deg, #0C003C 0%, #BFFFAF 100%), linear-gradient(165deg, #480045 25%, #E9EAAF 100%), linear-gradient(145deg, #480045 25%, #E9EAAF 100%), linear-gradient(300deg, rgba(233, 223, 255, 0) 0%, #AF89FF 100%), linear-gradient(90deg, #45EBA5 0%, #45EBA5 30%, #21ABA5 30%, #21ABA5 60%, #1D566E 60%, #1D566E 70%, #163A5F 70%, #163A5F 100%);
  background-blend-mode: overlay, overlay, overlay, multiply, normal;
}

.gradient-3 {
  background: linear-gradient(127.43deg, #00FFD1 0%, #08003A 100%), linear-gradient(307.27deg, #5200FF 0.37%, #04C600 100%), radial-gradient(100% 147.24% at 0% 31%, #00D1FF 0%, #698400 100%), radial-gradient(100% 140% at 100% 0%, #5ED500 0%, #2200AA 100%);
    background-blend-mode: difference, difference, difference, normal;
}

.text-aqua {
  color: var(--aqua)
}

.text-aqua-light {
  color: var(--aqua-light)
}

.text-aqua-dark {
  color: var(--aqua-dark)
}

/* app */


/* Bootstrap Breakpoints */

/*Small (sm)*/
@media (min-width:576px) {

}

/*Medium (md)*/
@media (min-width:768px) {

}

/*Large (lg)*/
@media (min-width:992px) {

}

/*Extra-Large (xl)*/
@media (min-width:1200px) {

}

/*Extra extra-large (xxl)*/
@media (min-width:1400px) {
  
}

/* Animations */
